doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

        #container
          - each produto in produtos
            p=produto.produto
